@keyframes rainbow-anim {
  0% {
    color: red;
  }
  10% {
    color: orange;
  }
  20% {
    color: yellow;
  }
  30% {
    color: yellowgreen;
  }
  40% {
    color: greenyellow;
  }
  50% {
    color: white;
  }
  60% {
    color: lightseagreen;
  }
  70% {
    color: lightskyblue;
  }
  80% {
    color: lightcoral;
  }
  90% {
    color: violet;
  }
  100% {
    color: blueviolet;
  }
}

.page-block {
  margin-top: 1.5rem;
}

.page-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  font-family: 'VT323', cursive;
}

.quest-font {
  font-family: 'VT323', cursive;
  font-size: 1.4rem;
  color: coral;
}

.top-page_page-title {
  animation: rainbow-anim 1200ms infinite 50ms;
}

#delete_button {
  border: 0 solid #333;
  color: #ccc;
  margin: 0;
  margin-left: 0.3rem;
  text-align: left;
} #delete_button:hover {
  color: deeppink;
}

#delete_choice:hover {
  background: url(../../img/nav-bg.png) no-repeat 0% 50%;
}
