{% load static %}

{% block customcss %}
<link rel="stylesheet"  type='text/css' href="{% static 'stylesheets/message/side.css' %}">
{% endblock customcss %}

<div class="side col-3">

  <nav>
    <div class="inner side-inner">
      <ul class="gnav">
        <small class="quest-font">Quest title</small>
        <li>
          <a href="{% url 'detail' quest.pk %}">{{ quest.title }}</a>
        </li>
        <small class="quest-font">Quest memo</small>
        <li>
          {{ quest.memo }}
        </li>
        <small class="quest-font">Quest text</small>
        <li>
          {{ quest.text | linebreaksbr }}
        </li>
        <small class="quest-font">Quest user</small>
        <li>
          {{ quest.author }}
        </li>
        {% if quest.image %}
        <small class="quest-font">Quest image</small>
        <li>
          <img src="{{ quest.image.url }}" class="img-fluid">
        </li>
        {% endif %}
      </ul>
    </div>
  </nav>

</div>