{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet"  type='text/css' href="{% static 'stylesheets/quest/standard.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container page-block">
  <div>
    <h3 class="page-title">
      <i class="far fa-comment-dots"></i>
      Message Board
    </h3>
  </div>
  {% if message_validate %}
  <div style="font-family: 'VT323', cursive; font-size: 1.5rem; text-align: center;" class="alert alert-danger" role="alert">
    {{ message_validate }}
  </div>
  {% endif %}
</div>

  <div style="margin: 0 10px;" class="wrap row">
    {% include 'message/_side.html' %}
    {% include 'message/_main.html' %}
    {% include 'message/_form.html' %}
  </div>
{% endblock content %}

{% block customjs %}
  <script src="{% static 'javascripts/message.js' %}"></script>
{% endblock customjs %}