{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel="stylesheet"  type='text/css' href="{% static 'stylesheets/quest/card.css' %}">
<link rel="stylesheet"  type='text/css' href="{% static 'stylesheets/quest/delete.css' %}">
{% endblock customcss %}

{% block content %}
<div class="container page-block">

  <div>
    <h3 class="page-title">
      <i class="fas fa-exclamation-triangle text-warning"></i>
      Are you OK ?
      <i class="fas fa-exclamation-triangle text-warning"></i>
    </h3>
  </div>

  <nav>
    <div class="inner">
      <ul class="gnav quest-font">
        <li id="delete_choice">
          <form action="" method="POST">{% csrf_token %}
            <input class="col-12" id="delete_button" type="submit" value="Yes">
          </form>
        </li>
        <li><a href="{% url 'detail' quest.pk %}">No</a></li>
      </ul>
    </div>
  </nav>

</div>
{% endblock content %}